html {
  background-color: $color60;
  color: $color30;
	font-family: 'Inter', sans-serif;
}
.dark-mode html {
  background-color: $color60;
  color: $color30;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	color: $color10;
}

p {
	font-weight: 400;
	color: $color30;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}	